body{

    background-image: url("https://images.pexels.com/photos/669576/pexels-photo-669576.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
   
    background-repeat:no-repeat;
   
    background-size:cover;
   
   }
   *{
       color: white;
   }