<!DOCTYPE html>

<html lang="en">

<head>

 <title>Bootstrap Example</title>

 <meta charset="utf-8">

 <meta name="viewport" content="width=device-width, initial-scale=1">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>



</head>

<body>



 <div class="container-fluid">

  <br>

  <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRHvZfmXmIoefF-4_Y181mv8GoPQeaeW-s2YOsJMAGOqa-aIEEg" class="rounded-circle float-left" alt="Fitness" width="80" height="80" align="middle"></p>

 <h2 align="center">Personal Fitness</h2>

 </div>



<br>



<nav class="navbar navbar-expand-sm bg-dark">

 <ul class="navbar-nav">

  <li class="nav-item">

   <a class="nav-link text-white" href="home">Home</a>

  </li>

  <li class="nav-item">

   <a class="nav-link text-white" href="trainer">Place Appointment</a>

  </li>

  <li class="nav-item">

   <a class="nav-link text-white" href="trainerlist">View Appointment</a>

  </li>

  <li class="nav-item">

   <a class="nav-link text-white" href="contactus">Contact Us</a>

  </li>

 </ul>



</nav>





</body>

</html>



