


<body>

<div class="panel panel-default">



  <div class="panel-body">



   <table >



   



    <thead class="thead-light">



     <tr>

      <th>Sno</th>

      <th>Firstname</th>

<th>Lastname</th>

<th>Streetaddress</th>

 <th>City</th>


 <th>Package</th>
 <th>TrainerPreference</th>

 <th>Phone</th>

 </tr>

 </thead>



    <tbody>



      <tr *ngFor="let appointment of trainerlist ">

      <td>{{appointment.sno}}</td>

      <td>{{appointment.firstname}}</td>

      <td>{{appointment.lastname}}</td>

      <td>{{appointment.streetaddress}}</td>

    <td>{{appointment.city}}</td>

    <td>{{appointment.package}}</td>

    <td>{{appointment.trainerpreference}}</td>
    <td>{{appointment.phone}}</td>


   



   </tr>



    </tbody><br>

</table>

  </div>

</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>

 

